!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %body
    %h1 Eleccion del Usuario:
    %br
    -if (do_it == 'Elige jugador')
      %h2 Elige Jugador!
      %ol
        %a{:href => '?choice=rock'} 
          %button Piedra
        %a{:href => '?choice=paper'} 
          %button Papel
        %a{:href => '?choice=scissors'} 
          %button Tijeras

    %h1 VS
    %br
    %h1 Eleccion del PC:
    %br
    
    %h1 Resultado: 
    -if (anwser == 'empate')
      %h2 Empate!
    -elsif (anwser == 'jugador gana')
      %h2 Ganaste!
    -elsif (anwser == 'jugador pierde')
      %h2 Perdiste!!!
      -else
        %h2 Empieza a jugar!!

    %a{:href => '/'} 
      %button Juega otra vez   
    
